<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
			<title></title>
		</head>
		<body>

		<ul>
		
			<% @the_arts.each do |art| %>
			<li>
				<a href="/fight_styles/<%= art.id %>"></a>
					<%= art.country_id %>
			</li>
		</ul>		


		</body>
</html> 