
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s2">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input  id="address" type="text" class="validate">
          <label for="address">Street Address</label>
            </div>
          </div>
        </form>
      </div>
       <div class="row">
         <form class="col s12">
           <div class="input-field col s4">
          <input id="address2" type="text" class="validate">
          <label for="address_two">Street Address Line Two</label>
        </div>
      </div>
      </form>
      </div>
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input  id="city_name" type="text" class="validate">
          <label for="city">City</label>
        </div>
        <div class="input-field col s2">
          <input id="state" type="text" class="validate">
          <label for="state_name">State/Province</label>
        </div>
      </div>
     </form>
    </div> 
      <form class="col s12">
       <div class="row">
        <div class="input-field col s2">
           <input  id="postal_code" type="text" class="validate">
          <label for="postal_code">Postal Code</label>
        </div>
       </div> 
      </form>
      </form>
      </div>

  <!--   
     <ul id='dropdown1' class='dropdown-content'>
        <ul id='dropdown1' class='dropdown-content'>
          <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Country</a>
            <li><a href="Argentina"></a></li>
                <li><a href="Australia"></a></li>
                    <li><a href="Brazil"></a></li>
                        <li><a href="Canada"></a></li>
                            <li><a href="Czech Republic"></a></li>
                                <li><a href="France"></a></li>
                            <li><a href="Italy"></a></li>
                        <li><a href="Mexico"></a></li>
                    <li><a href="Puerto Rico"></a></li>
                <li><a href=">United Kingdom"></a></li>
            <li><a href=">United States"></a></li>
        </ul>

         -->
  
        