<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
			<title></title>
		</head>
		<body>

		<ul>
				<% @the_places.each do |place|%>
			<li>
					<a href="/countries/<%= place.id %>">
					<button><%=place.name%></button>	

			</li>
				<% end %>
		</ul>		


		</body>
</html>