<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
			<title></title>
		</head>
		<body background="">

			<nav>
    			<div class="nav-wrapper">
      				<a href="#" class="brand-logo">Put logo here</a>
     					 <ul id="nav-mobile" class="right hide-on-med-and-down">
       						 <li><button class="sign_up_btn">Sign Up</button></li>
       						 <li><button class="log_in">Log In</button></li>
        					 
      					</ul>
   				 </div>
  			</nav>
        		<ul>
					<% @the_places.each do |place|%>
					<li>
						<a href="/countries/<%= place.id %>">
						<button id="country_btn"> <%=place.name%> </button>	
					</li>
						<% end %>
				</ul>		
		</body>
	</html>