

<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Put logo here</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><button class="sign_up_btn">Sign Up</button></li>
			<li><button class="log_in">Log In</button></li>

		</ul>
	</div>
</nav>


<ul>
	<% @the_places.each do |place|%>
		<li>
			<a href="/countries/<%= place.id %>">
				<button id="country_btn"> <%=place.name%> </button>	
			</a>
		</li>
	<% end %>
</ul>		


<div class="modal js-sign-up-modal">
	<form>
		<div class="modal-content">
			

			

			<input type="email" placeholder="blah@blah.com">
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
				Submit
			</a>
		</div>
    </form>
</div>


<div class="modal js-login-modal">
	<form>
		<div class="modal-content">
			<h4>Login</h4>
			<p>A bunch of text</p>

			<input type="email" placeholder="blah@blah.com">
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
				Submit
			</a>
		</div>
    </form>
</div>