<h3>Package prices</h3>




<ul>
	<% @prices.each do |cost| %>
	<li>
			<button><%= link_to cost.two_weeks, controller: "countries", action: "booking",id: params[:id] %></button>
		<br>
			<button><%= link_to cost.one_month, controller: "countries", action: "booking",id: params[:id] %></button>
		<br>
			<button><%= link_to cost.three_months, controller: "countries", action: "booking",id: params[:id] %></button>
		<br>
	</li>
		<% end %>
</ul>










