

<ul>

	<% @the_arts.each do |art| %>
	<li>
		<%= link_to art.name, controller: "countries", action: "booking",id: params[:id] %>
		<br>
		<%= art.description %>
		<br>

	</li>
	<% end %>	
</ul>		




