.nav-wrapper {
	background-color: #616161;
}

.sign_up_btn {
	background-color: #616161;
	border: none;
	color: white;
	font-style: italic;	
	font-family: kaushan;
}

.log_in {
	background-color: #616161;
	border: none;
	color: white;
	font-style: italic;
	font-family: kaushan;
}

#country_btn {
		background-color: black;
		color: red;
		width: 100px;
		height: 40px;
		font-family: kaushan;
}


.material-icons {
	color: red;
}


	