.nav-wrapper {
	background-color: rgba(0,0,0,0.9) !important;	
	border: none;
	color: white;
	font-family: 'Droid Serif', Georgia, Times, serif;


}

.sign_up_btn {
	background-color:#2B2B2B;
	border: none;
	color: white;
	font-style: italic;	
	font-family: open sanz;
	font-size: 17px;
}

.log_in {
	background-color:#2B2B2B;
	border: none;
	color: white;
	font-style: italic;
	font-family: open sanz;
	font-size: 17px;
}




.material-icons {
	color: red;
	font-style: italic;	
	font-family: open sanz;
	font-size: 25px;
}



.brand_logo{
	color: white;
	font-size: 30px;
	padding-left:500px;	
}


.side-nav {
	background-color: #5d7c7e;
	}


.footer {
	  color: none;		
}

#name_color {
	color:white;
}

#country_btn {
		background-color: #2B2B2B;
		color: red;
		width: 100px;
		height: 40px;
		font-family: graphik;
}

#fb_btn {
		margin-top: 10px;
}

#tw_btn {
		margin-top: 10px;
}

#mm_quote {
	padding-left: 300px;
	margin-top: 100px;
	font-style: open sanz;
	color:black;}


#mm2{
	padding-left: 25px;
}

#mm3 {
	padding-left: 40px;
}

#mm4 {
	padding-left: 170px;
}

