.nav-wrapper {
	background-color: black;
}

.sign_up_btn {
	background-color: black;
	border: none;
	color: red;
	font-style: italic;	
	font-size: 25px;
	font-family: palatino;
}

.log_in {
	background-color: black;
	border: none;
	color: red;
	font-style: italic;
	font-size: 25px;
	font-family: palatino;
}

.brand-logo{
	
	color: red;
	font-style: italic;
	font-size: 50px;
	font-family: palatino;
}

#country_btn {
		background-color: black;
		color: red;
		width: 100px;
		height: 40px;
		font-family: palatino;

}



	