body {
	background-color:black;
	color:white;
	font-style: sans-serif;
}

#save_btn {
	color: black;
}
#log_out_btn {
	background-color: #170b0b;
	border: none;
	margin-bottom: 10px;
}

.container2 {
	padding-left: 520px;
}